.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  grid-gap: 16px;

  > li {
    border: 1px solid var(--dark-color);
    border-radius: 16px;
    padding: 40px;
  }

  li:first-child {
    background-color: var(--bg-color-blue);
  }

  li:nth-child(2) {
    background-color: var(--bg-color-green);
    color: var(--color-white);

    p,
    a,
    a.button {
      color: var(--color-white);
    }
  }

  li:last-child {
    background-color: var(--bg-color-paper);
  }
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
