.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  grid-gap: 1rem;

  > li {
    border: 1px solid var(--dark-color);
    border-radius: 1rem;
    padding: var(--spacing-s);
    gap: 2rem;
    display: flex;
    flex-direction: column;
  }

  li.blue {
    background-color: var(--bg-color-blue);
  }

  li.green {
    background-color: var(--bg-color-light-green);
  }

  li.aqua {
    background-color: var(--bg-color-aqua);
  }

  li.default {
    background-color: var(--color-white);
  }
}

.cards .cards-card-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  h3,
  h4 {
    font-size: var(--font-size-l);
    color: var(--color-black);
  }

  p:first-of-type {
    font-size: 16px;
  }

  .button-container a {
    font-size: var(--font-size-s);
  }
}

.cards .cards-card-image {
  line-height: 0;
  padding: var(--spacing-xs);
}

.cards .cards-card-body > *:first-child {
  font-size: var(--font-size-xs);
  margin: 0;
  color: var(--color-pink);
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 170px;
}

@media (width >= 768px) {
  .cards > ul > li {
    padding: var(--spacing-l);
  }

  .cards .cards-card-image {
    padding: 0;
  }

  .cards .cards-card-body {
    h3,
    h4 {
      font-size: var(--font-size-l-alt);
      color: var(--color-black);
    }

    p:first-of-type {
      font-size: 18px;
    }
  }
}
