.filter-block {
  margin: 0 auto;
  padding: 20px;
}

.filter-h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter-controls {
  display: flex;
  gap: 10px;
}

.sort-by {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* stylelint-disable property-no-vendor-prefix */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.filter-select {
  border: 2px solid;
  border: 0 none;
  outline: 2px solid var(--color-black);
  border-right: 20px solid transparent;
  font-size: 15px;
  padding: 16px 0 16px 19px;
  border-radius: 3px;
}

.filter-select-bigly {
  /* span full width */
  width: 100%;
}

.toggle-filters {
  cursor: pointer;
  border-radius: 4px;
}

button.secondary.toggle-filters {
  text-decoration: none;
  line-height: 44px;
  min-width: 192px;
}

button.secondary.toggle-filters:focus,
button.secondary.toggle-filters:hover {
  outline: -webkit-focus-ring-color auto 3px;
  color: currentcolor;
  text-decoration: underline;
}

.toggle-filters-icon {
  max-width: 14px;
}

.filter-container {
  padding: 20px 40px;
  border-radius: 16px;
  border: 1px solid #dee2e6;
}

.filter-row {
  margin-bottom: 20px;
}

@media (width >= 768px) {
  .filter-row-twocol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-template-areas: 'col1 col2';
  }
}

@media (width < 768px) {
  .filter-row-twocol {
    .filter-column {
      margin-bottom: 30px;
    }
  }
}

.filter-column:last-child {
  margin-right: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.filter-pricerange-container {
  margin-top: 10px;
  max-width: 800px;
}

.range-slider {
  position: relative;
  width: 100%;
  height: 5px;
  margin: 30px 0;
}

.range-slider input[type='range'] {
  appearance: none;
  width: 100%;
  height: 5px;
  background: #ddd;
  outline: none;
  position: absolute;
  pointer-events: none;
}

.range-slider input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #ff1261;
  cursor: pointer;
  pointer-events: auto;
  z-index: 1;
  position: relative;
}

.range-slider input[type='range']::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #ff1261;
  cursor: pointer;
  pointer-events: auto;
  z-index: 1;
  position: relative;
}

.filter-priceinputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-pricenumber {
  font-size: 16px;
  line-height: 28px;
  border: 2px solid;
  padding: 8px 10px 8px 12px;
}

@media (width >= 768px) {
  .filter-pricenumber {
    min-width: 200px;
  }
}

.filter-apply {
  cursor: pointer;
  font-weight: bold;
  border: 0 none;
}

.filter-label {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
