.form .field-wrapper {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  padding: 0;
}

.form fieldset {
  display: grid;
  grid-auto-flow: row;
  gap: var(--spacing-xxxs);
  border: none;
  padding: 0;
}

@media (width >= 1024px) {
  .form fieldset {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-xs);
  }
}

.form fieldset > legend {
  font-weight: var(--font-weight-bold);
  font-size: var(--heading-font-size-xs);
}

.form label {
  font-weight: var(--font-weight-bold);
  font-size: var(--body-font-size-xs);
  margin-bottom: 0.25em;
}

.form input,
.form select,
.form textarea {
  font-size: var(--body-font-size-s);
  width: 100%;
  max-width: 50rem;
  display: block;
  padding: var(--spacing-xxs-l) var(--spacing-xxxs);
  border-radius: var(--spacing-xxxxs);
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

.form textarea {
  resize: vertical;
}

.form .selection-wrapper input {
  width: var(--spacing-xs);
}

.form .selection-wrapper label {
  margin-bottom: 0;
}

.form .button {
  border: none;
  width: fit-content;
}

.form .field-wrapper.selection-wrapper {
  grid-auto-flow: column;
  justify-content: start;
  gap: var(--spacing-xs);
}

.form .field-wrapper > label {
  order: -1;
}

.form .field-wrapper label {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-semibold);
  line-height: var(--spacing-s);
  margin-bottom: var(--spacing-xxxs);
  padding: 0;
}

.form .field-wrapper.selection-wrapper > label {
  order: 1;
}

.form input[required] + label::after {
  content: '*';
  color: var(--asterisk-required-color);
  margin-inline-start: 0;
}

.form .toggle-wrapper .switch {
  position: relative;
  display: inline-block;
  width: var(--spacing-l-alt);
  height: var(--spacing-s);
}

.form .toggle-wrapper input {
  opacity: 0;
  width: 0;
  height: 0;
}

.form .toggle-wrapper .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--dark-color);
  transition: 0.4s;
  border-radius: 30px;
}

.form .toggle-wrapper .slider::before {
  position: absolute;
  content: '';
  height: var(--spacing-xs-l-alt);
  width: var(--spacing-xs-l-alt);
  left: 2px;
  bottom: 2px;
  background-color: var(--background-color);
  transition: 0.4s;
  border-radius: 50%;
}

.form .toggle-wrapper input:checked + .slider {
  background-color: var(--link-color);
}

.form .toggle-wrapper input:focus + .slider {
  outline: 2px solid var(--link-color);
  outline-offset: 2px;
}

.form .toggle-wrapper input:checked + .slider::before {
  transform: translateX(var(--spacing-s));
}

.form .field-wrapper input,
.form .field-wrapper select,
.form .field-wrapper textarea {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-body);
  line-height: var(--spacing-s);
  padding: var(--spacing-xxxs) var(--spacing-xs);
  border-radius: var(--spacing-xxxxs);
  border: 1px solid #000;
  height: var(--spacing-l-alt);
}

.form .field-wrapper textarea {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-body);
  line-height: var(--spacing-s);
  padding: var(--spacing-xxxs) var(--spacing-xs);
  border-radius: var(--spacing-xxxxs);
  border: 1px solid #000;
  height: 128px;
  max-width: 100%;
}

.form .field-wrapper.hidden-wrapper {
  display: none;
}

.section.request-callback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--bg-color-paper);
  padding: var(--spacing-l) var(--spacing-xs);
  margin: 0 auto;
  justify-content: center;

  @media (width >= 1024px) {
    flex-direction: row;
    padding: var(--spacing-xl-l) var(--spacing-xxl-l);
  }

  .default-content-wrapper {
    margin: 0 0 var(--spacing-l);
    max-width: var(--max-width-container-small);

    @media (width >= 1024px) {
      margin: 0 var(--spacing-xs) 0 0;
    }

    h1,
    h2,
    h3 {
      font-size: var(--font-size-l-alt);
      font-weight: var(--font-weight-bold);
      line-height: var(--font-size-lg);
      margin: 0 0 var(--spacing-xs);

      @media (width >= 1024px) {
        font-size: var(--font-size-lg);
        line-height: var(--font-size-xl);
      }
    }

    p {
      color: #4f575e;
      font-size: var(--font-size-xs);
      font-weight: var(--font-weight-body);
      line-height: var(--spacing-s);
      margin: 0;

      @media (width >= 1024px) {
        font-size: var(--font-size-s);
        line-height: var(--font-size-l-alt);
      }
    }
  }

  .form-wrapper {
    margin: 0;
    max-width: var(--max-width-container-medium);
  }

  form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: var(--spacing-l);
    border-radius: var(--spacing-xs);
    background: var(--color-white);
    padding: var(--spacing-s) var(--spacing-xs);

    @media (width >= 1024px) {
      grid-template-columns: auto auto;
      padding: var(--spacing-l);
      gap: var(--spacing-m) var(--spacing-l);
    }
  }

  @media (width >= 1024px) {
    form div.field-wrapper:nth-child(7) {
      grid-column: 1 / -1;
      grid-row: 4;
    }

    form div.field-wrapper:nth-child(8) {
      grid-column: 1 / -1;
      grid-row: 5;
    }
  }

  .form .button {
    margin: 0;
  }

  .form .plaintext-wrapper p {
    font-size: var(--font-size-xs-alt);
    font-weight: var(--font-weight-body);
    line-height: var(--spacing-s);
    margin: 0;
    color: var(--color-grey);
  }
}
