.section.columns-container {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.section.three-col-text .columns > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.section.semicircle-image .columns-img-col img {
  border-radius: 0.5rem;
  max-width: 680px;
  max-height: 400px;
  aspect-ratio: 1.3;
}

/* two-col-text */
.section.two-col-text {
  p {
    text-align: left;
  }

  p:nth-child(2) {
    color: var(--color-pink);
    font-weight: var(--heading-font-weight);
  }

  p:nth-child(5) {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xs);
  }

  .default-content-wrapper {
    padding: 0 var(--spacing-xs);
  }

  background-color: var(--bg-color-paper);

  .columns-2-cols > div {
    padding: var(--spacing-xl-l) var(--spacing-xxl-l);
  }

  /* .columns-2-cols > div > div {
    background-color: var(--color-white);
    margin-bottom: var(--spacing-s);
    padding: var(--spacing-m);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;

    img {
      height: 180px;
      width: 335px;
    }
    
  } */

  @media (width<700px) {
    .columns-2-cols > div {
      padding: var(--spacing-xs);
    }

    p {
      font-size: var(--font-size-xs);
    }
  }
}

.section.semicircle-image .columns > div {
  gap: 2rem;

  > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.5rem;
    font-size: var(--font-size-xs);

    p {
      &:nth-child(1) {
        color: var(--color-pink);
      }

      &:nth-child(2) {
        font-size: var(--font-size-l);
        font-family: var(--font-family-bold);
        color: var(--color-black);
        line-height: 32px;
      }

      &.button-container {
        a {
          font-size: var(--font-size-s);
          font-weight: 700;
          margin: 0;
        }

        a::after {
          content: url('../../icons/Play.svg');
          font-size: var(--font-size-l-alt);
          vertical-align: bottom;
          margin-left: var(--spacing-xs);
        }
      }
    }
  }
}

.section.two-col-text .columns-2-cols > div > div {
  background-color: var(--color-white);
  margin-bottom: var(--spacing-s);
  padding: var(--spacing-m);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;

  img {
    height: 180px;
    width: 335px;
  }
}

/* three-col-text | whats included */
.section.three-col-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: var(--font-size-xs);
  line-height: 1.5rem;

  .default-content-wrapper {
    padding: 0 var(--spacing-xs);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;

    h3,
    h2 {
      text-align: center;
      font-size: var(--font-size-l-alt);
      line-height: 2.5rem;
    }
  }

  .columns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 var(--spacing-xs);
  }
  /* stylelint-disable-next-line */
  .columns > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .columns > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    text-align: center;
    width: 100%;
    gap: 1rem;

    h4 {
      font-size: var(--font-size-m);
      line-height: 2rem;
    }

    > p:first-child {
      background-color: var(--bg-color-paper);
      border-radius: 50%;
      height: 88px;
      width: 88px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    > p:last-child {
      margin-bottom: auto;
    }

    p.button-container {
      a {
        margin: 0;
        font-weight: 400;
        font-size: var(--font-size-xs);
        line-height: 20px;
        color: var(--color-black);
      }

      a::after {
        vertical-align: sub;
        content: url('../../icons/chevron-right.svg');
        width: 20px;
        height: 20px;
        margin-left: var(--spacing-xxxs);
      }
    }

    img {
      height: 56px;
      width: 56px;
    }
  }

  @media (width >=1024px) {
    gap: 4rem;
    font-size: var(--font-size-s);
    line-height: 2rem;

    .default-content-wrapper {
      h3,
      h2 {
        font-size: var(--font-size-lg);
        line-height: 3rem;
      }

      p {
        width: 50%;
        margin: auto;
      }
    }

    .columns-wrapper {
      .columns {
        gap: 2.5rem;

        &.columns-3-cols {
          gap: 1rem;
        }

        > div {
          flex-direction: row;
          align-items: stretch;
          gap: 2.5rem;
          justify-content: center;

          > div {
            h4 {
              font-size: var(--font-size-l);
              line-height: 2rem;
            }

            p.button-container {
              a {
                font-size: var(--font-size-s);
                line-height: 1.5rem;
              }
            }
          }
        }

        &.columns-3-cols div {
          gap: 1rem;
        }
      }
    }
  }
}

/* semicircle image varation */
.section.semicircle-image .columns {
  padding: var(--spacing-s);
  background-color: var(--bg-color-paper);
  border-radius: 0.5rem;

  @media (width >=768px) {
    padding: var(--spacing-l);
    border-radius: 1rem;

    > div {
      gap: 2.5rem;

      > div {
        p {
          &:nth-child(3) {
            font-size: var(--font-size-s);
            line-height: 2rem;
          }
        }

        h3 {
          font-size: var(--font-size-l-alt);
          font-family: var(--font-family-bold);
          line-height: 2.5rem;
        }

        &.columns-img-col {
          img {
            aspect-ratio: 1.96;
            border-radius: 12.5rem 1rem 1rem 12.5rem;
          }
        }
      }
    }
  }

  @media (width >=1024px) {
    padding: var(--spacing-xl) var(--spacing-m) var(--spacing-xl) var(--spacing-xl);

    > div {
      align-items: center;
      flex-direction: unset;
      gap: 96px;

      > div {
        flex: 1;
        order: unset;

        &:nth-child(1) {
          width: 35%;
          gap: 1rem;
        }

        &.columns-img-col {
          flex-grow: 2;

          img {
            aspect-ratio: 1.7;
          }
        }
      }
    }
  }
}

/* text-block variation */
.section.text-block {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  background: #f2ede8;
  font-size: var(--font-size-xs);
  line-height: 1.5rem;

  .columns-wrapper .columns {
    > div > div {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      p {
        padding: 0 var(--spacing-xs);
        margin-bottom: 0;
      }

      p:first-child {
        font-size: var(--font-size-s);
        font-family: var(--font-family-bold);
        color: var(--color-black);

        @media (width >= 768px) {
          line-height: 2rem;
          font-size: var(--font-size-m);
        }
      }
    }
  }

  div.default-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    p img {
      width: 100%;
      padding: 0 16px;
      aspect-ratio: 2.59;
      display: block;
      box-sizing: border-box;
      margin-bottom: var(--spacing-l);
    }

    h2 {
      font-size: var(--font-size-l-alt);
      line-height: 2.5rem;
      padding: 0 var(--spacing-xs);
      margin: 0;

      @media (width >= 768px) {
        font-size: 40px;
        line-height: 48px;
      }
    }
  }

  .columns-wrapper {
    /* stylelint-disable */
    .columns div {
      gap: 1.5rem;
    }
    /* stylelint-enable */
  }

  @media (width >= 768px) {
    &.columns-container {
      padding: var(--spacing-l-alt) var(--spacing-xxl-l);
    }

    .default-content-wrapper {
      text-align: center;

      img {
        width: 400px;
        aspect-ratio: 2.59;
      }

      h3 {
        padding: 0 var(--spacing-xxxl);
        font-size: var(--font-size-lg);
        line-height: 3rem;
        text-align: center;
      }
    }

    .columns-wrapper {
      .columns div {
        gap: 1.5rem;
        line-height: 2rem;
        text-align: center;

        h5 {
          font-size: var(--font-size-m);
        }

        p {
          font-size: var(--font-size-s);
        }
      }
    }
  }

  @media (width >= 1024px) {
    .columns-wrapper .columns div {
      text-align: left;
      align-items: stretch;
    }
  }
}

/* Column variation - video left */
.section.semicircle-image.video.left .columns {
  background-color: var(--bg-color-paper);
}

/* Column variation - video right */
.section.semicircle-image.video.right .columns {
  background-color: var(--bg-color-blue);
}

/* Video Variation */
.section.semicircle-image.video {
  .columns-img-col {
    position: relative;

    img {
      border-radius: 0.5rem;
      height: var(--max-height-small);
      width: 100%;
    }
  }

  @media (width >= 768px) {
    .columns-img-col img {
      height: var(--max-height-medium);
    }
  }

  .columns-img-col::before {
    content: url('../../icons/play-video-button.svg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white); /* change to desired color */
    font-size: var(--spacing-s); /* change to desired size */
  }
}

/* More from oly */
.section.more-from-oly {
  padding: 0 var(--spacing-xs);
  gap: 2.5rem;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-s);
  line-height: 2rem;

  div.default-content-wrapper {
    text-align: left;
    width: 100%;

    h2,
    h3 {
      font-size: var(--font-size-l-alt);
      line-height: 2.5rem;
    }
  }

  /* stylelint-disable */
  .columns-wrapper .columns {
    > div {
      text-align: center;
      gap: 1rem;

      > div {
        padding: var(--spacing-s);
        gap: 1rem;
        border: 1px solid var(--border-color);
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;

        p {
          margin: 0;

          img {
            width: 134px;
            aspect-ratio: 1.34;
          }

          &.button-container a {
            color: var(--link-color);
            font-size: var(--font-size-xs);
            font-weight: 400;
            line-height: 1.25rem;
            margin: 0;
            padding: 0;
          }

          &:nth-child(3) {
            font-size: var(--font-size-xs);
            line-height: 1.5rem;
            margin-top: -16px;
            font-weight: 400;
          }
        }

        p:nth-child(2) {
          border: 1px solid;
        }

        h5,
        h4,
        h6 {
          font-size: var(--font-size-m);
          line-height: 2rem;
        }
      }
    }
  }
  /* stylelint-enable */

  @media (width >= 768px) {
    &.columns-container {
      padding: 40px 159px;
      gap: 3rem;
    }

    .default-content-wrapper {
      h2,
      h3 {
        font-size: var(--font-size-lg);
        line-height: 3rem;
      }
    }

    .columns-wrapper {
      width: 100%;
    }

    .columns-wrapper .columns div {
      > div {
        border-radius: 1rem;

        h4,
        h5,
        h6 {
          font-size: var(--font-size-l);
        }

        p {
          &:nth-child(3) {
            font-size: var(--font-size-s);
            line-height: 2rem;
          }

          &.button-container a {
            font-size: var(--font-size-s);
            line-height: 1.5rem;
          }
        }
      }
    }
  }

  @media (width >= 1024px) {
    &.columns-container {
      padding: var(--spacing-l-alt) var(--spacing-xxxl);
    }

    .default-content-wrapper {
      margin: 0 auto;
    }

    .columns-wrapper .columns {
      display: flex;
      flex-direction: column;
      height: 100%;

      div {
        flex: 1;
        align-items: stretch;

        > div {
          display: flex;
          flex-direction: column;

          p.button-container {
            margin-top: auto;
          }
        }
      }
    }
  }
}

@media (width >= 768px) {
  .section.columns-container {
    padding: var(--spacing-s) var(--spacing-l-alt);
  }

  /* Column variation - left image */
  .section.semicircle-image.left {
    .block.columns > div .columns-img-col {
      img {
        border-radius: 1rem 12.5rem 12.5rem 1rem;
      }
    }
  }
}

@media (width >= 1024px) {
  .section.columns-container {
    padding: var(--spacing-l-alt) var(--spacing-xxl-l);
  }

  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: var(--spacing-m);
  }

  /* Column Variation - left image */
  .section.semicircle-image.left .columns {
    padding: var(--spacing-xl) var(--spacing-xl) var(--spacing-xl) var(--spacing-m);

    > div {
      > div {
        &:nth-child(2) {
          width: 35%;
        }
      }
    }
  }
}
