.accordion details {
  display: block;
  background-color: var(--spectrum-gray-100);
  color: var(--non-spectrum-grey);
  padding: 0 var(--spacing-xs-l-alt) 0 0;
}

.accordion details summary {
  position: relative;
  box-sizing: content-box;
  cursor: pointer;
  list-style: none;
  padding: 16px 0;
  font-size: var(--font-size-s);
  line-height: 1.5rem;
  font-weight: 600;
}

.accordion details summary :where(h2, h3, h4, h5, h6) {
  margin: 0;
  font: inherit;
  color: inherit;
  display: inline;
}

.accordion details summary::after {
  content: url('../../icons/plus.svg');
  position: absolute;
  top: 20px;
  right: -20px;
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::marker {
  content: none;
}

.accordion details div > div {
  color: var(--non-spectrum-raisin-black);
  font-size: var(--spectrum-font-size-200);
  line-height: var(--spectrum-line-height-m);
  margin-left: 14px;
  margin-top: 14px;
}

.accordion details h1,
.accordion details h2,
.accordion details h3 {
  margin-top: 14px;
}

.accordion p {
  margin-top: 14px;
}

.accordion ol li p {
  margin-bottom: 8px;
}

.accordion p:last-child {
  margin-bottom: 0;
}

.accordion ul {
  margin-top: 14px;
}

.accordion ul li {
  margin-top: 0;
  margin-bottom: 14px;
  line-height: 1.5;
}

.accordion ul li:last-child {
  margin-bottom: 0;
}

ol .accordion ul {
  margin-bottom: 14px;
}

.accordion ul li ul {
  margin-bottom: 14px;
}

ol .accordion summary {
  font-size: var(--spectrum-font-size-200);
}

.accordion details .accordion {
  margin: 0;
}

.accordion details details summary {
  font-size: var(--spectrum-font-size-200);
  line-height: 24px;
}

.accordion details[open] {
  padding-bottom: 16px;
}

.accordion details[open] summary::after {
  content: url('../../icons/minus.svg');
}

.accordion .code-wrapper,
.accordion .code-wrapper div,
.accordion .note-wrapper,
.accordion .note-wrapper div {
  margin-left: 0;
  margin-top: 0;
}

.accordion .code pre {
  padding: 14px;
  line-height: 21px;
}

.accordion .code code {
  font-size: var(--spectrum-font-size-100);
}

.shade-box .accordion-wrapper:first-child details {
  padding-top: 16px;
}

/* accordion-disclaimer */
.section.accordion-disclaimer {
  background-color: var(--bg-color-paper);
  margin: 1rem;
  padding: var(--spacing-m);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  .default-content-wrapper p {
    a {
      display: flex;
      margin: 0;
      gap: 0.5rem;
      align-items: end;
    }

    a::after {
      content: url('../../icons/chevron-right.svg');
      width: var(--spacing-xs-l-alt);
      height: var(--spacing-xs-l-alt);
    }
  }

  /* stylelint-disable */
  details {
    padding: var(--spacing-s) var(--spacing-xs);
  }

  h2 {
    margin: 0;
    font-weight: 700;
    font-size: var(--font-size-l-alt);
    line-height: 2.5rem;
  }

  summary {
    padding: 0;
  }

  summary::after {
    right: -10px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  /* stylelint-enable */

  .accordion.block {
    background-color: var(--color-white);
    border-bottom: 1px solid var(--border-color);

    &:last-child {
      border-bottom: none;
    }
  }
}

@media (width >= 768px) {
  /* accordion-disclaimer */
  .section.accordion-disclaimer {
    .default-content-wrapper p {
      a {
        align-items: center;
      }

      a::after {
        margin-bottom: 4px;
      }
    }

    @media (width >= 1024px) {
      margin: var(--spacing-l-alt) auto;
      box-sizing: border-box;
      max-width: calc(100vw - 208px);

      h2 {
        margin: 0;
        font-weight: 700;
        font-size: var(--font-size-lg);
        line-height: 3rem;
      }
    }

    @media (width >= 1440px) {
      max-width: var(--max-width-container);
    }

    div {
      margin: 0;
    }
  }
}
