.header-nav {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--font-family-body);

  div:nth-child(3) {
    flex-basis: 100%;
    flex-direction: column;
  }

  > div > div > a {
    text-decoration: none;
    width: 232px;
    display: block;
  }

  a:hover {
    color: black;
  }

  ul li h4 {
    margin: 0;
    text-decoration: none;
    font-weight: var(--font-weight-body);
  }

  div:nth-child(2) {
    h2,
    h3,
    h4,
    p {
      color: var(--color-black);
      font-size: var(--font-size-l);
      font-weight: var(--font-weight-bold);
      line-height: var(--spacing-m);
      margin: 0;
      text-decoration: none;
    }

    h2::after,
    h3::after,
    h4::after,
    p::after {
      content: ' ';
      display: flex;
      position: absolute;
      top: var(--spacing-xs);
      right: 0;
      width: var(--spacing-xs-l);
      height: var(--spacing-xxs);
      background-image: url('../../icons/chevron-down.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    @media (width >= 768px) {
      h2::after,
      h3::after,
      h4::after,
      p::after {
        transform: rotate(270deg);
      }
    }
  }

  img {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 2px;
    margin-right: var(--spacing-xs);
  }

  ul.link-arrows {
    li:not(:last-child)::before {
      position: absolute;
      content: ' ';
      display: block;
      top: var(--spacing-xs-l);
      left: 0;
      margin-left: var(--spacing-xs);
      width: 24px;
      height: 24px;
      background-image: url('../../icons/small-car.png');
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    @media (width >= 768px) {
      li:not(:last-child)::before {
        top: var(--spacing-xxxs);
        margin-left: 0;
      }
    }

    li {
      position: relative;
      font-size: var(--font-size-s);
      line-height: var(--spacing-m);
      text-decoration: none;
      list-style-type: none;
      padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) var(--spacing-l-l);
      width: fit-content;

      @media (width >= 768px) {
        padding: var(--spacing-xxxxs) var(--spacing-xs) var(--spacing-xxxxs) var(--spacing-m);
        width: -webkit-fill-available;
      }

      @media (width >= 1024px) {
        padding: var(--spacing-xxxxs) var(--spacing-xs) var(--spacing-xxxxs) var(--spacing-m);
        width: -webkit-fill-available;
      }

      a {
        text-decoration: none;
        color: var(--color-black);
      }
    }

    li:last-child {
      padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) var(--spacing-xs);
    }

    @media (width >= 768px) {
      li:last-child {
        padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-xxxs) 0;
      }
    }

    li::after {
      position: absolute;
      content: ' ';
      display: block;
      top: 26px;
      right: -24px;
      width: var(--spacing-s);
      height: var(--spacing-xs-l);
      background-image: url('../../icons/arrow-right.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    @media (width >= 768px) {
      li::after {
        content: unset;
      }
    }
  }

  ul {
    margin: var(--spacing-s) 0 0 0;
    padding: 0;

    @media (width >= 768px) {
      margin: var(--spacing-xs) 0 0 0;
    }

    /* stylelint-disable */
    li {
      font-size: var(--font-size-s);
      line-height: var(--spacing-m);
      text-decoration: none;
      list-style-type: none;
      padding: var(--spacing-xs);

      a {
        text-decoration: none;
        color: var(--color-black);
      }

      @media (width >= 768px) {
        padding: var(--spacing-xxxs) var(--spacing-xs) var(--spacing-xxxs) 0;
      }
    }
    /* stylelint-enable */
  }
}

.inactive {
  display: none;
}

.divider {
  background: var(--border-color);
  height: 1px;
  width: -webkit-fill-available;
  margin: var(--spacing-s) 0;

  @media (width >= 768px) {
    margin: var(--spacing-m) 0;
  }
}

.link-arrows .divider {
  margin: 0;
  display: block;

  @media (width >= 768px) {
    margin: var(--spacing-xxxs) 0;
  }
}
