/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'brand tools hamburger' var(--nav-mobile-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0;
  max-width: 100%;
  height: var(--nav-mobile-height);
  padding: 0 var(--font-size-xs);
  font-family: var(--font-family-body);

  @media (width >= 768px) {
    height: var(--nav-mobile-height);
    padding: 0 var(--spacing-s) 0 var(--spacing-xs);
  }

  @media (width >= 1024px) {
    grid-template:
      'hamburger brand tools' var(--nav-mobile-height)
      'sections sections sections' 1fr / auto 1fr auto;
    gap: 0;
    height: var(--nav-height);
    padding: 0 var(--spacing-xs-l);
  }
}

.section.nav-brand > div {
  @media (width >= 1024px) {
    max-width: fit-content;
    margin: 0 var(--spacing-l-alt) 0 0;
  }
}

.section.nav-sections {
  @media (width >= 1024px) {
    margin-right: 167px;
  }
}

header nav[aria-expanded='true'] {
  grid-template:
    'brand hamburger' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;

  @media (width >= 1024px) {
    grid-template:
      'hamburger brand' var(--nav-height)
      'sections sections' 1fr
      'tools tools' var(--nav-height) / auto 1fr;
  }
}

header nav[aria-expanded='true'] .nav-tools {
  @media (width < 1024px) {
    display: none;
  }
}

@media (width >= 1024px) {
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  @media (width >= 768px) {
    color: var(--color-black);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: var(--heading-font-weight);
    line-height: var(--font-size-l-alt);
    text-decoration: none;
  }

  @media (width >= 1024px) {
    text-decoration: none;
    color: var(--color-black);
    font-size: var(--font-size-xs-alt);
    line-height: var(--spacing-s);
    font-weight: var(--font-weight-body);
  }
}

.default-content-wrapper .chevron-menu .inactive {
  display: none;
}

@media (width >= 1024px) {
  .default-content-wrapper .chevron-menu:hover {
    & .inactive {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; /* stylelint-disable-line */
      height: auto;
      max-height: 412px;

      > p {
        width: 504px;
        display: flex;
        justify-content: center;
        padding: var(--spacing-xxxxs) 0;
        border-radius: var(--spacing-xs);
        border: 2px solid var(--color-white);
        background: #f5f5f5;
        position: relative;

        picture {
          display: flex;
        }

        img {
          width: auto;
          height: 312px;
          max-width: 450px;
        }
      }
    }
  }
}

@media (width < 1024px) {
  nav .default-content-wrapper .chevron-menu ul > p {
    display: none;
  }
}

header nav .nav-tools .default-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & > p {
    display: none;

    @media (width >= 1024px) {
      display: block;
    }
  }

  & ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    & li {
      list-style: none;
      display: flex;

      & a {
        font-size: var(--font-size-xs-alt);
        font-weight: var(--font-weight-body);
        line-height: var(--spacing-s);
      }
    }

    & li:nth-child(1) {
      padding-left: var(--spacing-s);

      @media (width >= 1024px) {
        padding: 0 var(--spacing-s);
      }
    }

    & li:nth-child(2) {
      display: none;
      padding-left: var(--spacing-s);

      @media (width >= 1024px) {
        padding: 0 var(--spacing-xs);
        display: flex;
      }

      & span {
        display: flex;
        align-items: center;

        & img {
          width: var(--spacing-xs);
          height: var(--spacing-xs);
        }
      }
    }

    & li:nth-child(3) {
      display: flex;
      padding-left: var(--spacing-s);
      padding-right: var(--spacing-s);

      @media (width >= 1024px) {
        padding-right: var(--spacing-xxxs);
      }
    }

    & li:last-child {
      display: none;

      @media (width >= 1024px) {
        display: flex;
        padding-right: var(--spacing-s);
        padding-left: var(--spacing-xxxs);
      }
    }
  }
}

header nav .nav-sections .default-content-wrapper > ul > li > p > a {
  @media (width < 768px) {
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: var(--heading-font-weight);
    line-height: var(--font-size-l-alt);
    text-decoration: none;
  }
}

@media (width < 768px) {
  li.arrow-link > a {
    position: relative;
  }

  li.arrow-link > a::after {
    position: absolute;
    content: ' ';
    display: block;
    top: var(--spacing-xxxs);
    right: -37px;
    width: var(--spacing-s);
    height: var(--spacing-xs-l);
    background-image: url('../../icons/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  /* stylelint-disable */
  li > p > a {
    position: relative;
  }
  /* stylelint-enable */

  li.chevron-menu > p > a::after {
    position: absolute;
    content: ' ';
    display: block;
    top: var(--spacing-xxxs);
    right: -37px;
    width: var(--spacing-s);
    height: var(--spacing-xs-l);
    background-image: url('../../icons/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  li.chevron-menu > p.toggle-arrow > a::after {
    transform: rotate(180deg);
    top: 0;
    right: -30px;
  }

  /* stylelint-disable */
  li:not(.chevron-menu) > p > a::after {
    position: absolute;
    content: ' ';
    display: block;
    top: 0;
    right: -40px;
    width: var(--spacing-s);
    height: var(--spacing-xs-l);
    background-image: url('../../icons/chevron-down.svg');
    transform: rotate(270deg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  /* stylelint-enable */

  .search-box {
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: var(--heading-font-weight);
    line-height: var(--spacing-s);
    width: -webkit-fill-available;
    border-radius: var(--spacing-xxxxs);
    border: 1px solid var(--color-black);
    background: var(--color-white);
    padding: var(--spacing-xxs-l) var(--spacing-xs);
    margin-bottom: var(--spacing-m);

    @media (width >= 1024px) {
      display: none;
    }
  }

  .search-box::before {
    position: absolute;
    content: ' ';
    display: block;
    top: 0;
    right: -40px;
    width: var(--spacing-s);
    height: var(--spacing-xs-l);
    background-image: url('../../icons/chevron-down.svg');
    transform: rotate(270deg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: var(--spacing-xxxxs) var(--spacing-xs) var(--spacing-xxxxs) 0;
    position: relative;
    width: fit-content;
    list-style: none;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li > a {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-body);
    line-height: var(--spacing-s);
    text-decoration: none;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li > a:hover {
    color: var(--color-pink);
    text-decoration: underline;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li:first-child {
    margin-top: var(--spacing-xs);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li::after {
    position: absolute;
    content: ' ';
    display: block;
    top: var(--spacing-xs);
    right: -20px;
    width: var(--spacing-s);
    height: var(--spacing-s);
    background-image: url('../../icons/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (768px <= width <= 1023px) {
  li.arrow-link > p > a {
    position: relative;
  }

  li.chevron-menu > p > a {
    position: relative;
  }

  li.arrow-link > p > a::after {
    position: absolute;
    content: ' ';
    display: block;
    top: var(--spacing-xxxs);
    right: -37px;
    width: var(--spacing-s);
    height: var(--spacing-xs-l);
    background-image: url('../../icons/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  li.chevron-menu > p > a::after {
    position: absolute;
    content: ' ';
    display: block;
    top: var(--spacing-xxxs);
    right: -37px;
    width: var(--spacing-s);
    height: var(--spacing-xs-l);
    background-image: url('../../icons/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  li.chevron-menu > p.toggle-arrow > a::after {
    transform: rotate(180deg);
    top: 0;
    right: -30px;
  }

  .search-box {
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: var(--heading-font-weight);
    line-height: var(--spacing-s);
    width: -webkit-fill-available;
    border-radius: var(--spacing-xxxxs);
    border: 1px solid var(--color-black);
    background: var(--color-white);
    padding: var(--spacing-xxs-l) var(--spacing-xs);
    margin-bottom: 40px;

    @media (width >= 1024px) {
      display: none;
    }
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: var(--spacing-xxxxs) var(--spacing-xs) var(--spacing-xxxxs) 0;
    position: relative;
    width: fit-content;
    list-style: none;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li > a {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-body);
    line-height: var(--spacing-s);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li > a:hover {
    color: var(--color-pink);
    text-decoration: underline;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li:first-child {
    margin-top: var(--spacing-xs);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li::after {
    position: absolute;
    content: ' ';
    display: block;
    top: var(--spacing-xs);
    right: -20px;
    width: var(--spacing-s);
    height: var(--spacing-s);
    background-image: url('../../icons/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav .nav-hamburger button {
  margin: 0;
  height: var(--spacing-s);
  width: var(--spacing-s);
  display: flex;
  align-items: center;
  /* stylelint-disable */
  align-content: center;
  justify-content: center;
  /* stylelint-enable */
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: var(--spacing-s);
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: var(--spacing-s);
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 26px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 1024px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  font-size: var(--heading-font-size-s);
  font-weight: var(--heading-font-weight);
  line-height: 1;
}

/* stylelint-disable */
header nav .nav-brand img {
  width: 84px;
  height: auto;
}
/* stylelint-enable */

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
  background: var(--bg-color-paper);
  margin: 0 -16px;
  padding: var(--spacing-s);

  @media (768px <= width <= 1023px) {
    padding: var(--spacing-s) var(--spacing-l-alt);
    margin: 0 -24px 0 -16px;
  }

  @media (width >= 1024px) {
    background: white;
    padding: 0;
    margin: 0 167px 0 0;
  }
}

header nav .nav-sections > .default-content-wrapper > ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
  gap: var(--spacing-s) 0;
  display: flex;
  flex-direction: column;
  margin: 0;

  @media (768px <= width <= 1023px) {
    gap: var(--spacing-xs) 0;
  }

  @media (width >= 1024px) {
    flex-direction: row;
  }
}

/* stylelint-disable */
header nav .nav-sections ul > li {
  font-weight: var(--heading-font-weight);
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
  padding-left: 0;

  @media (768px <= width <= 1023px) {
    gap: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}
/* stylelint-enable */

@media (width >= 1024px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: var(--spacing-xs);
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    height: 80px;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    font-weight: var(--font-weight-body);
    padding: var(--spacing-xxxs) var(--spacing-s);
    display: flex;
    height: -webkit-fill-available;
    border-bottom: 3px solid transparent;
    align-items: center;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: var(--bg-color-paper);
    top: 80px;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 56px 0 40px 208px;
    gap: var(--spacing-s) 120px;
    margin: 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    color: var(--color-black);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-body);
    line-height: var(--font-size-l-alt);
    display: flex;
    position: relative;
    width: fit-content;
  }

  header nav .nav-sections .default-content-wrapper > ul > li:hover {
    background: var(--bg-color-neutral);
    border-bottom: 3px solid var(--color-pink);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li::after {
    position: absolute;
    content: ' ';
    display: block;
    top: var(--spacing-xxs-l);
    right: -32px;
    width: var(--spacing-s);
    height: var(--spacing-s);
    background-image: url('../../icons/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li > a {
    color: var(--color-black);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-body);
    line-height: var(--font-size-l-alt);
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: var(--spacing-xxs-l);
    padding: 1em;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: ' ';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: var(--spacing-xxxs) solid transparent;
    border-right: var(--spacing-xxxs) solid transparent;
    border-bottom: var(--spacing-xxxs) solid var(--light-color);
  }
}

/* stylelint-disable */
/* tools */
header nav .nav-tools {
  grid-area: tools;
}
/* stylelint-enable */
