.block.savingscard {
  display: grid;
}

.block.savingscard > div {
  grid-row: 1;
  grid-column: 1;
}

.block.savingscard > div:first-child p {
  margin: 0;
}

.block.savingscard > div p {
  text-align: center;
  font-size: var(--font-size-lg);
  font-weight: bold;
  color: var(--color-black);
}

/*.block.savingscard > div p[data-aue-label="Title"],
.block.savingscard > div p[data-aue-label="TitleBrand"]{
    margin: 0;
}*/

/*.block.savingscard > div p[data-aue-label="TitleBrand"]{
    color: var(--link-color);
}*/

.block.savingscard > div:first-child img {
  display: block;
  width: 100%;
  max-height: 400px;
  height: auto;
  object-fit: cover;
}

.block.savingscard > div:last-child {
  color: #000;
  opacity: 0.75;
  padding: 1.5rem;
  display: flex;
  flex-direction: column-reverse;
}
