.block.savingscard {
  display: grid;
  grid-template-columns: 50% 50%;
  background: var(--color-white);
}

.block.savingscard p {
  color: var(--color-black);
}

.block.savingscard > div.bg-image,
.block.savingscard > div.fg-overlay-content {
  grid-row: 1;
  grid-column: 1 / 3;
  max-width: 816px;
  margin: auto;
}

.block.savingscard > div.fg-overlay-content p {
  font-size: var(--font-size-lg);
  font-family: var(--font-family-bold);
  text-align: center;
  font-weight: bold;
  color: var(--color-black);
  line-height: 1;
}

.block.savingscard > div.bg-image img {
  display: block;
  width: 100%;
  max-height: 161px;
  height: auto;
}

.block.savingscard > div.section-desc {
  color: #000;
  opacity: 1;
  padding: 1.5rem;
  display: flex;
  flex-direction: column-reverse;
  font-size: var(--font-size-s);
  text-align: center;
  grid-column: 1 / 3;
}

.block.savingscard > div.no-oly {
  grid-column: 1;
  margin-right: 2%;
}

.block.savingscard > div.with-oly {
  grid-column: 2;
  margin-left: 2%;
}

.block.savingscard > div.no-oly,
.block.savingscard > div.with-oly {
  border: 1px solid var(--border-color);
  border-radius: var(--spacing-xs);
  padding: var(--spacing-s);
  max-width: 504px;
  box-sizing: border-box;
}

.block.savingscard > div.no-oly picture,
.block.savingscard > div.with-oly picture {
  display: block;
  text-align: center;
}

.block.savingscard > div.no-oly [data-aue-prop='no_oly_badge'],
.block.savingscard > div.with-oly [data-aue-prop='with_oly_badge'] {
  font-size: var(--font-size-l-alt);
  font-family: var(--font-family-bold);
}

.block.savingscard > div.no-oly [data-aue-prop='no_oly_badge'],
.block.savingscard > div.with-oly [data-aue-prop='with_oly_badge'],
.block.savingscard > div.no-oly [data-aue-prop='no_oly_description'],
.block.savingscard > div.with-oly [data-aue-prop='with_oly_description'] {
  text-align: center;
  font-weight: bold;
  color: var(--color-black);
}

.block.savingscard > div.no-oly [data-aue-prop='no_oly_description'],
.block.savingscard > div.with-oly [data-aue-prop='with_oly_description'] {
  font-size: var(--font-size-l);
}

.block.savingscard > div.no-oly [data-aue-prop='no_oly_figure_title'],
.block.savingscard > div.with-oly [data-aue-prop='with_oly_figure_title'] {
  font-size: var(--font-size-l);
  padding: var(--spacing-xs);
  background: var(--border-color);
}

.block.savingscard > div.no-oly [data-aue-prop='no_oly_vehicle_price'],
.block.savingscard > div.with-oly [data-aue-prop='with_oly_vehicle_price'] {
  font-size: var(--font-size-l-alt);
}

.block.savingscard > div.no-oly [data-aue-prop='no_oly_vehicle_price_description'],
.block.savingscard > div.with-oly [data-aue-prop='with_oly_vehicle_price_description'] {
  font-size: var(--font-size-m);
  line-height: 1;
}

.block.savingscard > div.no-oly [data-aue-prop='no_oly_vehicle_price'],
.block.savingscard > div.with-oly [data-aue-prop='with_oly_vehicle_price'],
.block.savingscard > div.no-oly [data-aue-prop='no_oly_vehicle_price_description'],
.block.savingscard > div.with-oly [data-aue-prop='with_oly_vehicle_price_description'] {
  font-weight: bold;
  text-align: center;
}

.block.savingscard > div.with-oly [data-aue-prop='with_oly_vehicle_price'] {
  color: var(--color-pink);
}

.block.savingscard > div.no-oly [data-aue-prop='no_oly_salary_title'],
.block.savingscard > div.with-oly [data-aue-prop='with_oly_salary_title'],
.block.savingscard > div.no-oly [data-aue-prop='no_oly_car_title'],
.block.savingscard > div.with-oly [data-aue-prop='with_oly_car_title'],
.block.savingscard > div.no-oly [data-aue-prop='no_oly_lease_title'],
.block.savingscard > div.with-oly [data-aue-prop='with_oly_lease_title'],
.block.savingscard > div.no-oly [data-aue-prop='no_oly_salary_value'],
.block.savingscard > div.with-oly [data-aue-prop='with_oly_salary_value'],
.block.savingscard > div.no-oly [data-aue-prop='no_oly_car_value'],
.block.savingscard > div.with-oly [data-aue-prop='with_oly_car_value'],
.block.savingscard > div.no-oly [data-aue-prop='no_oly_lease_value'],
.block.savingscard > div.with-oly [data-aue-prop='with_oly_lease_value'] {
  display: inline-block;
  padding-bottom: var(--spacing-s);
  border-bottom: 1px solid var(--border-color);
  width: 49%;
  box-sizing: border-box;
}

.block.savingscard > div.no-oly [data-aue-prop='no_oly_salary_value'],
.block.savingscard > div.with-oly [data-aue-prop='with_oly_salary_value'],
.block.savingscard > div.no-oly [data-aue-prop='no_oly_car_value'],
.block.savingscard > div.with-oly [data-aue-prop='with_oly_car_value'],
.block.savingscard > div.no-oly [data-aue-prop='no_oly_lease_value'],
.block.savingscard > div.with-oly [data-aue-prop='with_oly_lease_value'] {
  text-align: right;
}

.block.savingscard > div.no-oly [data-aue-prop='no_oly_vehicle_price'],
.block.savingscard > div.no-oly [data-aue-prop='no_oly_vehicle_price_description'],
.block.savingscard > div.with-oly [data-aue-prop='with_oly_vehicle_price'],
.block.savingscard > div.with-oly [data-aue-prop='with_oly_vehicle_price_description'] {
  padding: var(--spacing-xs);
  max-width: 323px;
  box-sizing: border-box;
  margin: 0 auto;
}

.savingsCard div.no-oly [data-aue-prop='no_oly_vehicle_price'],
.savingsCard div.with-oly [data-aue-prop='with_oly_vehicle_price'] {
  border-top: 1px solid var(--border-color);
  border-top-left-radius: var(--spacing-xs);
  border-top-right-radius: var(--spacing-xs);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  margin-bottom: 0;
  padding-bottom: 0;
}

.savingscard > div.no-oly [data-aue-prop='no_oly_vehicle_price_description'],
.savingscard > div.with-oly [data-aue-prop='with_oly_vehicle_price_description'] {
  border-bottom: 1px solid var(--border-color);
  border-bottom-left-radius: var(--spacing-xs);
  border-bottom-right-radius: var(--spacing-xs);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  margin-top: 0;
  padding-top: 0;
}

@media (width < 1024px) {
  .block.savingscard {
    margin-top: var(--spacing-s);
  }

  .block.savingscard > div.no-oly,
  .block.savingscard > div.with-oly {
    max-width: 504px;
    width: 100%;
    display: block;
    grid-column: 1 / 3;
    margin: 0 auto var(--spacing-s) auto;
  }

  .block.savingscard > div.bg-image {
    width: 100%;
    margin-top: var(--spacing-negative-s);
  }

  .block.savingscard > div.bg-image img {
    content: url('http://mmsg-mkt-stage1-res.adobe-campaign.com/res/mmsg_mkt_stage1/dcd66a8723a21210c62b8fabd72e6c84fe21c5f1045821aa260845088bf7d1f1.png');
    margin-top: var(--spacing-negative-s);
  }
}
