main {
  .hero-container {
    padding: 0;

    > div {
      max-width: unset;
    }
  }
}

.hero {
  position: relative;
  padding: var(--spacing-xs);
  min-height: 564px;

  @media (width >= 768px) {
    min-height: 803px;
  }

  @media (width >= 1024px) {
    padding: var(--spacing-xl) var(--spacing-xl);
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  picture {
    position: absolute;
    z-index: -1;
    inset: 0;
    object-fit: cover;
    box-sizing: border-box;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .hero-variation {
    display: none;
  }

  .hero-content {
    > div {
      display: flex;
      gap: 8px 0;
      flex-direction: column;

      > p:first-child {
        color: var(--color-pink);
        font-size: var(--font-size-xs);
        font-weight: var(--heading-font-weight);
        line-height: 24px;
        margin: 0;

        @media (width >= 1024px) {
          margin: 0 0 var(--spacing-xs);
        }
      }

      > h1 {
        color: var(--color-black);
        font-size: 36px;
        font-weight: var(--heading-font-weight);
        line-height: 40px;
        margin: 0;

        @media (width >= 1024px) {
          margin: 0 0 var(--spacing-xxxs);
          font-size: var(--font-size-xl);
          line-height: 56px;
        }
      }

      > p:nth-child(3) {
        color: var(--color-black);
        font-size: var(--font-size-m);
        font-weight: var(--body-font-weight);
        line-height: 32px;
        margin: 0;

        @media (width >= 1024px) {
          margin: 0 0 var(--spacing-s);
          font-size: var(--font-size-l);
        }
      }

      > p.button-container {
        margin: 0;
      }

      > p a {
        display: flex;
        width: fit-content;
        padding: var(--spacing-xxs-l) var(--spacing-xs);
        font-size: var(--font-size-s);
        line-height: 2rem;
        margin: var(--spacing-xs) 0 0 0;

        @media (width >= 1024px) {
          margin: 0;
        }
      }

      > p a::after {
        content: url('../../icons/chevron-right-white.svg');
        width: 1.5rem;
        height: 1.5rem;
        padding-top: 2px;
        padding-left: 8px;
      }
    }
  }
}

.hero.offerpage {
  min-height: 640px;

  @media (width >= 1024px) {
    padding: 30px;
    min-height: unset;
  }
}

.hero.offerpage div:nth-child(2) {
  max-width: 1380px;
  width: 100%;
  margin: auto;
}

.hero.offerpage div:nth-child(2) > div {
  align-items: flex-start;
  border-radius: 0.5rem;
  background: #ffffffeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;

  @media (width >= 1024px) {
    border-radius: 1rem 18.75rem 18.75rem 1rem;
    padding: 2rem;
    padding: 32px 32px 32px 64px;
    width: 500px;
    margin: 0;
  }

  p:nth-child(1) {
    color: #ff1261;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 32px 0 16px;
    font-family: var(--heading-font-family);
  }

  :nth-child(2) {
    margin: 0;
  }

  p:nth-child(3) {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 0 16px;
    color: var(--color-black);
  }

  p:nth-child(4) {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
  }

  :nth-child(5) {
    font-family: var(--heading-font-family);
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
    margin: 0;
    color: var(--color-black);
  }

  p:nth-child(6) {
    margin-top: 12px;
  }
}

.homepage.hero {
  padding: 0;

  @media (width >= 1024px) {
    padding: var(--spacing-xl) var(--spacing-xl);
    min-height: 600px;
  }

  .content {
    background: none;
    padding: 24px;

    @media (width >= 768px) {
      padding: 24px;
    }

    @media (width >= 1024px) {
      width: -webkit-fill-available;
      max-width: 1232px;
      margin: -96px auto 0;
      padding: 0;
    }

    .hero-content {
      @media (width >= 768px) {
        margin-top: 98px;
        padding: 0 109px 0 53px;
        width: 582px;
      }

      @media (width >= 1024px) {
        margin-top: 0;
        width: 702px;
        padding: 0;
      }

      > div {
        display: flex;
        gap: 16px 0;
        flex-direction: column;

        > h1 {
          color: var(--color-white);
          font-family: var(--font-family-bold);
          font-size: var(--font-size-lg-alt-s);
          font-weight: var(--font-weight-bold);
          line-height: var(--font-size-lg);
          margin: 0;

          @media (width >= 768px) {
            font-size: 64px;
            line-height: 72px;
          }

          @media (width >= 1024px) {
            margin: 0 0 var(--spacing-xxxs);
            font-size: var(--font-size-xxl);
            line-height: 72px;
          }
        }
      }
    }
  }
}

.field-wrapper.message-wrapper {
  margin: 0;
  align-items: start;
}
