.columns-3-cols {
  margin-top: 12px;

  > div > div > p {
    border: 1px solid #80808047;
    padding: 15px;
    border-radius: 6px;
  }
}

.related-article-card-wrapper .content {
  padding: 15px;
  border-radius: 9px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  background-color: #e6f2ef;
  height: 512px;
  width: 261px;

  h5 {
    color: #ff1261;
  }

  .hero-image > div {
    height: 400px;

    > p:first-child {
      display: flex;
      justify-content: space-around;

      > picture > img {
        height: 216px;
        width: 216px;
        border-radius: 50%;
      }
      /* width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;
      background-color: blue; */
    }
  }
}

.related-article-card-container {
  display: flex;
  max-width: 1232px;
  margin: 0 auto;
  justify-content: space-between;

  @media (width < 1024px) {
    flex-direction: column;
  }
}

.related-article-card-wrapper {
  @media (width < 1024px) {
    max-width: 90% !important;
    margin: 3px !important;
  }
}

.hero-image {
  margin: 0 auto;
}
