.columns-3-cols {
  margin-top: 12px;

  > div > div > p {
    border: 1px solid #80808047;
    padding: 15px;
    border-radius: 6px;
  }
}

.related-article-card-wrapper .content {
  padding: 15px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  background-color: #e6f2ef;
  height: 512px;
  max-width: 216px;

  h5 {
    color: #ff1261;
  }

  .hero-image > div {
    height: 400px;

    > p:first-child {
      height: 216px;
      width: 216px;
    }
  }
}

.related-article-card-container {
  display: flex;
  justify-content: space-between;

  @media (width < 1024px) {
    flex-direction: column;
  }
}

.related-article-card-wrapper {
  @media (width < 1024px) {
    max-width: 90% !important;
    margin: 3px !important;
  }
}
