@import url('../car-card/car-card.css');

/* Wishlist specific styles */
#wishlist-container,
#recently-viewed-container {
  margin: var(--spacing-l) 0;
}

.wishlist-container .default-content-wrapper {
  text-align: center;
}

.wishlist.full h2 {
  font-size: var(--font-size-xl);
  margin-bottom: 1rem;
}

.wishlist.full button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: var(--font-size-s);
}

.wishlist.full button:hover {
  background-color: var(--color-primary-dark);
}

@media (width >= 1024px) {
  .wishlist.full .wishlist-cards-wrapper {
    grid-template-columns: repeat(4, calc((100% - 16px * 3) / 4));
  }
}
