.car-cards-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  gap: 1rem;
}

.car-detail-container {
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: var(--spacing-xs) var(--spacing-s) var(--spacing-s) var(--spacing-s);
  gap: 1rem;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
  line-height: 1.5rem;
  box-shadow: var(--box-shadow);

  .container {
    position: relative;

    .heart-container {
      display: flex;
      justify-content: space-between;

      .car-card-heart {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  p {
    margin: 0;
  }

  h3 {
    font-size: var(--font-size-l);
    line-height: 2rem;
    margin-top: 0;
  }
}

.car-card-image {
  width: 100%;
  aspect-ratio: 1.81;
}

.car-card-type {
  font-size: var(--font-size-xs-alt);
  border: 1px solid var(--color-black);
  display: inline-block;
  padding: 0 var(--spacing-xs);
  border-radius: 1rem;
  position: absolute;
  left: 6px;
  bottom: 60px;
}

.checkbox-container input[type='checkbox'] {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
  vertical-align: sub;
}

.car-features-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  gap: 0.5rem;
}

.car-feature {
  display: flex;
  align-items: center;
  margin: var(--spacing-xxxs) 0;

  span {
    display: flex;
    gap: 0.25rem;
    font-size: var(--font-size-xs-alt);
    border-right: 1px solid var(--border-color);
    padding-right: var(--spacing-xxxs);
  }

  span.seats {
    border-right: none;
  }

  span::before {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin: auto;
    opacity: 0.8;
  }
}

.camera::before {
  content: url('../../icons/camera-360.svg');
}

.alloy-wheels::before {
  content: url('../../icons/allow-wheel.svg');
}

.seats::before {
  content: url('../../icons/seat.svg');
}

.car-card-price {
  font-size: 36px;
  line-height: 2.5rem;
  margin: var(--spacing-xxxxs) 0;
}

.car-card-price-title,
.car-card-price-weekly,
.car-card-info {
  font-size: var(--font-size-xs-alt);
  color: var(--color-black);
}

.car-card-description {
  color: var(--color-black);
}

.car-card-button-container a {
  margin: 0;
  width: 100%;
}

@media (width >=768px) {
  .car-detail-container {
    padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-s) var(--spacing-xs);
  }
}

@media (width >=1024px) {
  .section.car-card-4 {
    .car-cards-wrapper {
      grid-template-columns: repeat(4, calc((100% - 16px * 3) / 4));

      .car-feature {
        span {
          font-size: var(--font-size-xxs);
        }

        span::before {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
