.car-detail-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  box-shadow: var(--box-shadow);
}

.car-card-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.car-card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-button {
  background-color: #ff4d4d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.card-button-secondary {
  background-color: #fff;
  color: #ff4d4d;
  padding: 10px 20px;
  border: 1px solid #ff4d4d;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
}

.car-features-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.car-feature {
  display: flex;
  align-items: center;
}

.car-card-price {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.car-card-description {
  font-size: 0.9em;
  color: #555;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ff4d4d;
}
