/* add global styles that can be loaded post LCP here */

.section.side-page-text-block {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  .default-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2,
    h3 {
      font-weight: 700;
      font-size: var(--font-size-l-alt);
      line-height: 2.5rem;
    }

    p {
      font-size: var(--font-size-xs);
      font-weight: 400;
      line-height: 1.5rem;
    }
  }

  @media (width >= 1024px) {
    padding: 48px 312px;

    .default-content-wrapper {
      h2,
      h3 {
        font-size: var(--font-size-lg);
        line-height: 3rem;
        font-weight: 700;
      }

      p {
        font-size: var(--font-size-s);
        line-height: 2rem;
      }
    }
  }
}
