.section.breadcrumb-container .breadcrumb-wrapper {
  margin: auto 0;
}

.breadcrumbs ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 2px;
}

.breadcrumbs li {
  display: flex;
  align-items: center;
  color: var(--color-grey);
  font-size: var(--font-size-xs-alt);
  gap: 2px;
  line-height: 1.5rem;
  font-weight: 400;
}

.breadcrumbs a {
  text-decoration: none;
  color: var(--color-grey);
  font-size: var(--font-size-xs-alt);
  border-bottom: 1px solid var(--color-grey);
  font-weight: 400;
}

.breadcrumbs li::after {
  content: '\203A';
  padding: 0 7px;
  font-size: 20px;
}

.breadcrumbs li.active {
  text-decoration: none;
}

.breadcrumbs li.active::after {
  content: '';
}

@media (width < 1024px) {
  .breadcrumbs {
    display: none;
  }
}
