.breadcrumbs {
  padding: 9px 0;
}

.breadcrumbs ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.breadcrumbs li {
  display: flex;
  align-items: center;
  margin-right: 15px;
  color: var(--color-grey);
  font-size: var(--font-size-xs-alt);
}

.breadcrumbs a {
  text-decoration: underline;
  color: var(--color-grey);
  font-size: var(--font-size-xs-alt);
}

.breadcrumbs li::after {
  content: '\203A';
  margin-left: 15px;
  font-size: 20px;
}

.breadcrumbs li.active {
  text-decoration: none;
}

.breadcrumbs li.active::after {
  content: '';
}

@media (width < 768px) {
  .breadcrumbs {
    display: none;
  }
}

.section.breadcrumb-container {
  background: var(--bg-color-paper);
}
