.calculator {
  padding: var(--spacing-s);
}

.calculator input,
.calculator select,
.calculator textarea {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-body);
  line-height: var(--spacing-s);
  padding: var(--spacing-xxxs) var(--spacing-xs);
  border-radius: var(--spacing-xxxxs);
  border: 1px solid #000;
  height: var(--spacing-l-alt);
}

.calculator .form-element-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}

.calculator #vehicle-selection-list-ul {
  padding: 0;
  list-style: none;
  margin: var(--spacing-s) 0;

  li {
    padding: var(--spacing-s);
    border: 1px solid var(--border-color);
    border-radius: var(--spacing-xxxxs);

    h3 {
      font-family: var(--font-family-bold);
      font-size: var(--font-size-l);
      margin-top: 0;

      span {
        font-size: var(--font-size-s);
      }
    }

    p {
      font-size: var(--font-size-s);
      margin: 0;
    }

    img {
      max-width: 250px;
      margin: var(--spacing-s) auto;
    }
  }
}

.calculator .wrapper-inline input {
  width: 100%;
}

@media (width < 1024px) {
  .calculator .form-element-wrapper {
    grid-template-columns: 100%;
  }
}
